/* Estilo general para el contenedor del header */
body {
    background-image: url('../media/img/background_1.jpg'); 
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: 1;
    margin: 0; /* Asegura que el fondo cubra toda la página */
}

#history {
    margin: 0.4rem 10rem 0 10rem;
    padding: 20px;
    background-color: #fafafa;
}

/* Configuración general de las filas */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row h2
{
    font-family: 'AureaFont';
    font-size: 1.4rem;
}

.image {
    flex: 0 0 20%; /* Ocupa un máximo del 20% del ancho del contenedor */
    height: 200px; 
    border-radius: 20px;
    object-fit: cover; /* Recorta la imagen manteniendo sus proporciones */
    margin: 0 20px 20px; /* Espaciado entre la imagen y el texto */
}

.text {
    font-size: 16px;
    flex: 1; 
    padding: 0 10px; /* Espaciado interno para el texto */
}

.text p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}