@font-face {
    font-family: 'AureaFont';
    /* Nombre para referenciar la fuente */
    src: url('../media/fonts/medieval_sharp/MedievalSharp.ttf') format('truetype'),
        url('../media/fonts/medieval_sharp/MedievalSharp-Bold.ttf') format('truetype'),
        url('../media/fonts/medieval_sharp/MedievalSharp-BoldOblique.ttf') format('truetype'),
        url('../media/fonts/medieval_sharp/MedievalSharp-Oblique.ttf') format('truetype');
    /* Formato TTF */
    font-weight: normal;
    font-style: normal;
}

/* Reset básico */
body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.quote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: #555;
    text-align: right; 
    margin-right: 15px;
    flex: 1; 
}

.title {
    font-family: 'AureaFont';
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-right: 50px;
}