/* Estilos del nav */
.navbar {
    font-family: 'AureaFont';
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 1;
}

.navbar-logo {
    flex: 1;
}

.nav-logo {
    max-height: 80px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Ajusta el tamaño del logo */
}

.nav-logo:hover {
    transform: scale(1.25);
}

.navbar-links {
    display: flex;
    flex: 10;
    justify-content: center;
    gap: 30px;
    /* Espaciado entre los links */
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #f0a500;
}