body {
    background-image: url('../media/img/background_1.jpg'); 
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: 1;
    margin: 0; /* Asegura que el fondo cubra toda la página */
}

#header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

/* Estilo para el título */
.title {
    font-family: 'AureaFont';
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-right: 50px;
}

/* Sección de noticias */
.news-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 20px;
}

.news-card {
    background-color: #efe9e9;
    border: 1px solid #bbabab;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.news-card h2 {
    font-size: 1.6rem;
    color: #b7644f;
    margin-bottom: 1rem;
}

.news-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.news-card a {
    color: #a04e3a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.news-card a:hover {
    text-decoration: underline;
}

.news-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Top Block (Notas de Interés) */
.top-block {
    background-color: #fff;
    padding: 20px;
    margin: 40px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-block h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #007bff;
}

.top-block ul {
    list-style-type: none;
    padding: 0;
}

.top-block ul li {
    margin-bottom: 12px;
}

.top-block ul li a {
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
}

.top-block ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    width: 48%;
}

.column h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #007bff;
}

.comment {
    background-color: #ebe3e3;
    border: 1px solid #bbabab;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    font-size: 1rem;
    margin: 0;
}

.comment strong {
    color: #a04e3a;
    font-size: 16px;
}

/* Estilo para la sección de prensa */
.press-section {
    background-color: #e2dbdb;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.press-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 1rem;
}

.press-section p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}