body {
    background-image: url('../media/img/background_1.jpg'); 
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: 1;
    margin: 0; /* Asegura que el fondo cubra toda la página */
}

.press-section {
    background-color: #e2dbdb;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.press-section p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.news-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 20px;
}

.news-card {
    background-color: #efe9e9;
    border: 1px solid #bbabab;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.news-card h2 {
    font-size: 1.6rem;
    color: #b7644f;
    margin-bottom: 1rem;
}

.news-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.news-card a {
    color: #a04e3a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.news-card a:hover {
    text-decoration: none;
    font-size: 1.1rem;
}

.news-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.client-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espaciado entre columnas */
    align-items: start; /* Alinear elementos al inicio */
}

.client-content h2 {
    font-family: 'AureaFont';
    grid-column: span 2; /* El encabezado ocupa las dos columnas */
    text-align: left; 
    font-size: 1.7em; 
    margin: 5px 5px 0 20px; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre comentarios */
    margin: 20px;
}

.comment {
    background-color: #ebe3e3;
    border: 1px solid #bbabab;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    font-size: 1rem;
}

.comment strong {
    color: #a04e3a;
    font-size: 16px;
}