/* Contenedor principal */

body {
    background-image: url('/wwwroot/media/images/background_1.jpg'); /* Cambia la ruta por el archivo de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: 1;
    margin: 0; /* Asegura que el fondo cubra toda la página */
}

#beer-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf6e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

/* Título y descripción */
#beer-form h1 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 10px;
}

#beer-form p {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 20px;
}

/* Grupos de formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Etiquetas */
.form-group label {
    font-size: 1.2em;
    color: #34495e;
    display: block;
    margin-bottom: 5px;
}

/* Campos de entrada */
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #2980b9;
    outline: none;
}

/* Botón de envío */
button {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #1abc9c;
    transform: scale(1.25);
}

/* Checkbox */
.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

/* Sombra al hover */
button:active {
    transform: scale(1);
}