@font-face {
    font-family: 'AureaFont';
    /* Nombre para referenciar la fuente */
    src: url('../fonts/medieval_sharp/MedievalSharp.ttf') format('truetype'),
        url('../fonts/medieval_sharp/MedievalSharp-Bold.ttf') format('truetype'),
        url('../fonts/medieval_sharp/MedievalSharp-BoldOblique.ttf') format('truetype'),
        url('../fonts/medieval_sharp/MedievalSharp-Oblique.ttf') format('truetype');
    /* Formato TTF */
    font-weight: normal;
    font-style: normal;
}

/* Reset básico */
body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}