/* Reset básico */
body {
    background-image: url('/wwwroot/media/images/background_1.jpg'); /* Cambia la ruta por el archivo de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: 1;
    margin: 0; /* Asegura que el fondo cubra toda la página */
}

h1 {
    font-size: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*4 productos por fila*/
    gap: 1rem;
    margin: 2rem;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.product-card img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin: 0 auto 1rem;
}

.product-card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-card p {
    font-size: 0.9rem;
    color: #555;
}

.product-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color original del texto */
    display: block; /* Asegura que el enlace abarque todo el contenido del artículo */
}

.product-link:hover .product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade un efecto al pasar el ratón */
    transform: translateY(-2px); /* Eleva ligeramente el artículo */
    transition: 0.3s ease; /* Transición suave */
}